/*Author: Felipe Prado Ferreira*/

/*   
#========Color palette========#
#1f1f1f - Background header/footer
#458EB8 - Header top piece
black - Header hover text color
white - Header and footer text
#00D4E1 - Button color
#16548f - Button box shadow
#00f2ff - Button hover color
#FF8718 - Contrast title color
#165EA0 - Cases title
*/

/*General structure*/

@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: verdana;
}

#container{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-top:120px;
    padding-bottom: 145px;
    background-color: rgb(133, 65, 65);
    display: flex;
    flex-direction: column;
    padding-top: 7.5rem;
}

li, a:link, a:visited{
    text-decoration: none;
    list-style: none;
    color:white;
    padding: 0;
    margin: 0;
}

/*Header style*/

header {
    position: absolute;
    width: 100%;
    height: auto;
    padding-bottom: 9px;
    background-color: #1f1f1f;
}

.header-top-piece{
    width: 100%;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #458EB8;
}

.header-top-content{
    display: flex;
    justify-content:baseline;
    margin-left: 15%;
    margin-right: 15%;
}

.flex-icon-text{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.header-text{
    font-size:90%;
    color: white;
}

.icon-config{
    padding-left: 20px;
    padding-right: 5px;
    height: 15px;
    width: 15px;
}

.whats-config{
    margin-left: 60px;
}

.social-config{
    margin-left:60px;
}

/*Navbar style*/
.nav-flex{
    display: flex;
    justify-content: space-around;
}

.nav{
    display:inline-block;
    justify-content:end;
    align-items:center;
    width: auto;
}

.nav a{
    position: relative;
    top: 40px;
    color:white;
    text-decoration: none;
    margin-right: 10px;
}

.logo{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width:190px; 
    height:auto;
}
.nav a:hover{
    background-color: #458EB8;
    color: black;
    padding-top: 40px;
    padding-bottom: 36px;
}

/*Footer style*/
footer {
    position: relative;
    height: fit-content;
    background-color: #1f1f1f;
    margin-top: -145px;
    clear:both;
    color: white;
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 14px;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

/*Misc*/

/*Custom button*/
.btn-custom{
    background-color: #00D4E1;
    border:none;
    color:white;
    padding: 15px 32px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 3px 3px #16548f;
}