/*Author: Felipe Prado Ferreira*/

/*   
#========Color palette========#
#1f1f1f - Background header/footer
#458EB8 - Header top piece
black - Header hover text color
white - Header and footer text
#00D4E1 - Button color
#16548f - Button box shadow
#00f2ff - Button hover color
#FF8718 - Contrast title color
#165EA0 - Cases title
*/

/*General structure*/

@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: verdana;
}

#container{
    min-height: 100%;
}

#main{
    overflow: auto;
    padding-bottom: 145px;
    background-color: rgb(133, 65, 65);
    display: flex;
    flex-direction: column;
    padding-top: 5.6rem;
}

li, a:link, a:visited{
    text-decoration: none;
    list-style: none;
    color:white;
    padding: 0;
    margin: 0;
}

/*Header style*/

header {
    position: absolute;
    width: 100%;
    height: auto;
    padding-bottom: 9px;
    background-color: #1f1f1f;
}

.header-top-piece{
    width: 100%;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #458EB8;
}

.header-top-content{
    display: flex;
    justify-content:baseline;
    margin-left: 15%;
    margin-right: 15%;
}

.flex-icon-text{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.header-text{
    font-size:90%;
    color: white;
}

.icon-config{
    padding-left: 20px;
    padding-right: 5px;
    height: 15px;
    width: 15px;
    
}

.whats-config{
    margin-left: 60px;
}

.social-config{
    margin-left:60px;
}

/*Navbar style*/
.nav-flex{
    display: flex;
    justify-content: space-around;
}

.nav{
    display:inline-block;
    justify-content:end;
    align-items:center;
    width: auto;
    height: 20px;
}

.nav a{
    position: relative;
    top: 40px;
    color:white;
    text-decoration: none;
    margin-right: 10px;
}

.logo{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width:190px; 
    height:auto;
}
.nav a:hover{
    background-color: #458EB8;
    color: black;
    padding-top: 40px;
    padding-bottom: 36px;
    transition: 0.5s;
    opacity: 0.7;
}

.changeStyle {
    background-color: whitesmoke;
    box-shadow: 0 0 1em gray;
  }

/*Footer style*/
footer {
    position: relative;
    height: fit-content;
    background-color: #1f1f1f;
    margin-top: -145px;
    clear:both;
    color: white;
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 14px;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

/*Misc*/

/*Custom button*/
.btn-custom{
    border:none;
    color:white;
    padding: 15px 32px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;   
}

.btn-custom-opt1{
    background-color: #00D4E1;
    box-shadow: 3px 3px #16548f;
}

.btn-custom-opt1:hover{
    background-color: #00f2ff;
    transition: 0.7s;
}

.btn-custom-opt2{
    background-color: #16548f;
    box-shadow: 3px 3px #151e27;
}

.btn-custom-opt2:hover{
    background-color: #458EB8;
    transition: 0.7s;
}

/*estilização whatsapp*/
#whatsapp-main{
  display: block;
  position: absolute;
  z-index: 99999;
  right: 5em;
  top: 90%;
}
#whatsapp-main > a >img{
  display: block;
  position: fixed;
  bottom: 2em;
  z-index: 99999;
  width: 64px;
  height: 64px;
}

/*Novo style com menu hamburger e responsividade*/

body, ul{
    margin: 0px;
    padding: 0px;
  }
  
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem .5rem;
    height: 90px;
    background-color: #1f1f1f;
  }
  
  #nav-menu{
    display: flex;
    list-style: none;
    gap: .5rem;
  }
  
  #nav-menu a{
    display: block;
    padding: 2.2rem .2rem;
  
  }
  
  #logo{
    width: 190px;
    height: auto;
  }
  
  ul li a{
    color: white;
    text-decoration: none;
  }
  
  ul li a:hover{
    background-color: #458EB8;
    color: black;
  }
  
  #btn-mobile{
    display: none;
  }
  
  #social{
    display: flex;
    height: 19px;
    padding: .2rem .5rem;
    justify-content:flex-end;
    align-items: center;
    background-color: #458EB8;
  }
  
  #social ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
  }
  
  #social ul li, #social ul li a{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  #social ul li p{
    padding: 0px;
    margin: 0px;
    display: block;
    color: white;
  }
  
  #icon{
    width: auto;
    height: 15px;
  }
  
  #footer{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 1rem .5rem;
    background-color: #1f1f1f;
  }
  
  #footer h2, #footer h3{
  margin: 0px;
  color: white;
  }
  
  #footer ul{
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  #footer ul li, #footer ul li a{
    display: flex;
    align-items: center;
    gap: 5px;
    list-style:none;
    color: white;
  }
  
  @media (max-width:620px){
    #btn-mobile{
        display: flex;
        margin-right: 1rem;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        gap: .5rem;
    }
  
    #hamburger{
  
      display: block;
      border-top: 2px solid;
      width: 20px;
    }
  
    #hamburger::after, #hamburger::before{
      position: relative;
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: .6s;
    }
    
    #hamburger.active{
      border-top-color: transparent;
    }
  
    #hamburger.active::before{
      transform: rotate(135deg);
    }
  
    #hamburger.active::after{
      transform: rotate(-135deg);
      top: -7px;
    }
  
    #header{
      padding-left: 0px;
      padding-right: 0px;
    }
  
    #header #logo{
      padding-left: 1rem;
    }
    
    #nav-menu{
        display: block;
        position: absolute;
        top:90px;
        width: 100%;
        background-color: #1f1f1f;
        transition: .6s;
        z-index: 10000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
  
    #nav-menu.active{
      height: calc(100vh - 90px);
      visibility: visible;
      overflow-y: auto;
    }
  
    #nav-menu a{
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgb(66, 66, 66);
    }
  
    #footer{
      flex-direction: column;
      
    }
  } 
  
  @media (max-width:480px){
    #social ul li p{
        display: none;
      }

  }

  @media (max-width:310x){
    #logo{
      display: none;
    }
  
    #footer{
      display: none;
    }
  }