    /*Tela do Sobre nós*/
    
    #main{
        background-color: white;
    }
    
    #container-main {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        height: fit-content;
        padding-bottom: 30px;
    }
    
    #container-footer {
        display: flex;
        flex-direction: row;
        background-color: #1f1f1f;
        color: #fff;
        padding: 1.5em 0em;
        bottom: 0px;
        top: 0px;
        width: 98.5vw;
        height: 15vh;
    }
    
    #container-footer__slogan {
        display: flex;
        width: 33%;
        align-items: center;
        justify-content: center;
    }
    
    #container-footer__contato {
        display: flex;
        width: 33%;
    }
    
    #container-footer__redesSociais {
        display: flex;
        width: 33%;
    }
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        }
    .top_principal{
        display: flex;
        height: 20vh;
        
    }

    .sobrenos {
        display: flex;
        width: 75vw;
        height: 20vh;
        font-size: 60px;
        background-color:rgb(216, 213, 213);
        color:#ec8105;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        font-family: "Open Sans",sans-serif; 
    }
    .quemsomos{
        width: 100%;
        height: fit-content;
        font-size: 30px;
        color:#165EA0;
        text-align: center;
        padding-bottom: 20px;
    }
    .img_principal{
        width: 30%;
        height: 100%;
        display: flex;
    }
    .img_primeiro_paragrafo{
        width: 30%;
        height: 50%;
    }
    .p_primeiro_paragrafo_sobrenos{
        width: 100%;
        height: fit-content;
        display: flex;
        margin-left: 20px;
        text-align: justify;
        font-size: 1.2rem;
    }
    .primeiro_paragrafo{
        display: flex;
        justify-content: center;
        margin-left: 15%;
        margin-right: 15%;
    }
    .como_trabalhamos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        background-color: #efefef;
    }
    .objetivo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: fit-content;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 30px;
        color:#165EA0;
        text-align: center;
    }

    .tempoMercado{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 30px;
        color:#165EA0;
        text-align: center;
    }

    .timeline-explanation{
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
    }

    .img_como_trabalhamos{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .result{
        margin-bottom: 10px;
        font-size: 70px;
        color: #165EA0;
        text-align: center;
    }

    .resultados{
        display: flex;
        text-align: center;
        justify-content: space-around;
        font-size: 14px;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 30px;
    }
    
   .result-text{
        font-size: 1.2rem;
   }
   
    .titulo-info{
        display: flex;
        text-align: center;
        font-size: 26px;
    }
    .rodape{
        list-style-type: none;
        margin-left: 0px;
    }

    .h1{
        font-size: 2em;
        width: 100%;
        text-align: center;
        padding: 1em 0em ;  
        background-color: #074783;
        color: #fff;
        margin-bottom: 1.4rem;
      }
    @media screen and (max-width: 800px) {
        .header-top-content {
            display: flex;
            justify-content: baseline;
            font-size: 0.6rem;
        }

        .logo{
            width:80%;
        }
    
        .nav{
            width: 60%;
            font-size: 0.6rem;
            display: flex;
            align-items: baseline;
        }

        .top_principal {
            display: flex;
            height: 20vh;
            flex-wrap: wrap;
            justify-content: center;
        }

        .sobrenos {
            display: flex;
            width: 100%;
            height: 100%;
            font-size: 40px;
            background-color:rgb(216, 213, 213);
            color:#ec8105;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            font-family: "Open Sans",sans-serif; 
        }

        .img_principal{
            width: 240px;
            height: 100%;
            display: flex;
        }

        .quemsomos{
            font-size: 25px;
        }

        .primeiro_paragrafo{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .img_primeiro_paragrafo{
            width: 100%;
        }

        .p_primeiro_paragrafo_sobrenos{
            font-size: 0.73rem;
            display: flex;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        .como_trabalhamos{
            display: flex;
            flex-direction: column;
            align-items: center;
           }

        .objetivo{
            font-size: 1.5rem;
        }

        .mercado{
            display: flex;
            flex-direction: column;
            align-items: center;
           }

           .result{
            font-size: 2.5rem;
           }

           .resultados{
            font-size: 1rem;
           }

        .tempoMercado{
            font-size: 1.5rem;
        }

        .footer-content{
            display: flex;
        }

        .limited-box{
            font-size: 0.8rem;
        }

        .limited-informacoes{
            font-size: 0.6rem;
        }

        .limited-redes{
            font-size: 0.6rem;
            margin-left: 30px;
        }

    }