<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/general-style.css">
    <link rel="stylesheet" href="../css/contato.css">
    <title>Contato</title>
</head>

<body>
    <header>
        <div class="header-top-piece">
            <div class="header-top-content">
                <div class="flex-icon-text phone-config">
                    <img class="icon-config" src="../img/general-images/telefone.png" >
                    <p class="phone-number header-text">(xx) xxxx-xxxx</p>
                </div>
                
                <div class="flex-icon-text whats-config">
                    <img class="icon-config" src="../img/general-images/whatsapp.png">
                    <p class="whats-number header-text">(xx) xxxxx-xxxx</p>
                </div>
                
                <div class="flex-icon-text social-config">
                    <a href="https://www.instagram.com/">
                        <img class="icon-config" src="../img/general-images/instagram.png">
                    </a>

                    <a href="https://www.linkedin.com/">
                        <img class="icon-config" src="../img/general-images/linkedin.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-flex">
            <a href="index.html">
                <img class="logo"  src="../img/general-images/limplogo.png" alt="LOGO">
            </a>
    
            <div class="nav">
                <a href="../index.html">Home</a>
                <a href="sobrenos.html">Sobre nós</a>
                <a href="servicos.html">Serviços</a>
                <a href="cases.html">Cases</a>
                <a href="contato.html">Contato</a>
            </div>
        </div>   
    </header>

     <main id="container-main">
        
        <div class="container">
            <form class="formulario" method="post"> 
                <p>Fale conosco</p>
                
                <div class="field">
                    <label for="nome">Seu Nome:</label>
                    <input type="text" id="nome" name="nome" placeholder="Digite seu nome*" required>
                </div>
                
                <div class="field">
                    <label for="telefone">Seu Telefone:</label>
                    <input type="text" id="telefone" name="telefone" placeholder="Digite seu Telefone">
                </div>
        
                <div class="field">
                    <label for="email">Seu E-Mail:</label>
                    <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" required>
                </div>        
                <div class="field radiobox">
                    <span>Deseja receber nossas novidades?</span>
                    <input type="radio" name="novidades" id="sim" value="sim" checked><label for="sim">Sim</label>
                    <input type="radio" name="novidades" id="nao" value="nao"><label for="nao">Não</label>
                </div>
                <div class="field">
                    <label for="mensagem">Sua mensagem:</label>
                    <textarea name="mensagem" id="mensagem" placeholder="Mensagem*" required></textarea>
                </div>
        
                <input type="submit" name="acao" value="Enviar">
            </form>
            
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="limited-box">
                <h2>&copy; Limp Soluções.</h2>
            </div>
    
            <div class="limited-box">
                <h3 class="info">Informações</h3>
                <ul class="info-text">
                    <li>(xx) xxxx-xxxx</li>
                    <li>(xx) xxxxx-xxxx</li>
                    <li>contato@limp.com.br</li>
                    <li>
                        Rua tal, 000 - Bairro tal<br>
                        Cidade tal, Estado tal
                    </li>
                </ul>
            </div>
    
            <div class="limited-box">
                <h3 class="social">Redes Sociais</h3>
                <ul class="social-text">
                    <li><a class="footer-link" href="https://www.instagram.com/">Instagram</a></li>
                    <li><a class="footer-link" href="https://www.linkedin.com/">Linkedin</a></li>
                    <li><a class="footer-link" href="https://www.youtube.com/">Youtube</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>
