<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/general-style.css">
    <link rel="stylesheet" href="../css/servicos.css">
    <title>Serviços</title>
</head>
<body>
    <header>
        <div class="header-top-piece">
            <div class="header-top-content">
                <div class="flex-icon-text phone-config">
                    <img class="icon-config" src="../img/general-images/telefone.png" >
                    <p class="phone-number header-text">(xx) xxxx-xxxx</p>
                </div>
                
                <div class="flex-icon-text whats-config">
                    <img class="icon-config" src="../img/general-images/whatsapp.png">
                    <p class="whats-number header-text">(xx) xxxxx-xxxx</p>
                </div>
                
                <div class="flex-icon-text social-config">
                    <a href="https://www.instagram.com/">
                        <img class="icon-config" src="../img/general-images/instagram.png">
                    </a>

                    <a href="https://www.linkedin.com/">
                        <img class="icon-config" src="../img/general-images/linkedin.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-flex">
            <a href="index.html">
                <img class="logo"  src="../img/general-images/limplogo.png" alt="LOGO">
            </a>
    
            <div class="nav">
                <a href="../index.html">Home</a>
                <a href="sobrenos.html">Sobre nós</a>
                <a href="servicos.html">Serviços</a>
                <a href="cases.html">Cases</a>
                <a href="contato.html">Contato</a>
            </div>
        </div>   
    </header>

    <main>
        
        </section> 
        <section id="container-servicos">
            <h1 class="h1">Nossos Serviços</h1>
            <section id="container-servicos__banners">            
                <div class="container-servicos__banners-conteudo  limpeza-Urbana"  onclick="abreFechaBanner(1)">
                    <h2 class="h2">Limpeza Urbana</h2>
                    <img src="../img/img_servicos/limp_servicos_limpeza_urbana.jpg" alt="Caminhão de limpeza Urbana" srcset="">
                    <div class="container-servicos__banners-conteudo__conteudoTextual">
                        <p>Efetuamos a coleta seletiva de lixo, limpeza de ruas e praças</p>
                        <p>Dispomos de profissionais e ferramenta de ponta para todos os trabalhos de limpeza urbana</p>
                        <p>O serviço é uma das diversas ações de manutenção da limpeza pública. Isso inclui parques e praças, capinação de ruas, podas de árvores e até mesmo a limpeza de bueiros.</p>
                        <p>Considerado um serviço essencial à população, todas as atividades são realizadas para que as cidades permaneçam sempre preservadas, limpas e seguras.</p>
                        <p>Sim! Neste caso, o termo segurança se refere à segurança da população de modo geral, mas sobretudo, no âmbito da saúde pública.</p>
                    </div>
                </div>
                <div class="container-servicos__banners-conteudo limpezaIndustrial" onclick="abreFechaBanner(2)">
                    <h2 class="h2">Limpeza Industrial</h2>
                    <img src="../img/img_servicos/limp_servicos_industrial.jpg" alt="Equipe limpeza industrial" srcset="">
                    <div class="container-servicos__banners-conteudo__conteudoTextual">
                        <p>Efetuamos a limpeza de sua empresa, seu escritório e área fabril sempre limpo</p>
                        <p>Dispomos de profissionais e ferramenta de ponta para os trabalhos de limpeza industrial</p>
                        <p>Limpeza de piso, parede, vidros e caixilhos, varrição, aspiração, higienização de sanitários, aplicação de produtos de limpeza e tratamento de piso; fornecimento e reposição de materiais, descartáveis e equipamento de limpeza em geral caso haja necessidade.</p>
                        <p>Seu escritório, galpão fabril, galpão logistico, areas externas entre outros, sempre limpo.</p>
                        <p>A limpeza de sua empresa é fundamental para o bem estar do seu funcionário e bom funcionamento de sua empresa.</p>
                    </div>
                </div>
                <div class="container-servicos__banners-conteudo limpezaLaboratorial" onclick="abreFechaBanner(3)">
                    <h2 class="h2">Limpeza Laboratorial</h2>
                    <img src="../img/img_servicos/limpeza_laboratorial.jpg" alt="Limpeza laboratorial" srcset="">
                    <div class="container-servicos__banners-conteudo__conteudoTextual">
                        <p>Efetuamos a limpeza de seu laboratório dentro de todas as normas e exigências requeridas para manter o local em plenas condições efetuar testes sem o perigo de agentes estranhos.</p>
                        <p>Todos os produtos são certificados pelo orgão responsável</p>
                        <p>Profissionais treinados periodicamente para manter o operador de limpeza sempre atualizado.</p>
                        <p>A limpeza do laboratório consiste na limpeza do espaço comum, limpeza da lixeira e local de escarte.</p>
                        <p>Limpeza de piso, parede, vidros e caixilhos, varrição, aspiração, higienização de sanitários, aplicação de produtos de limpeza e tratamento de piso; fornecimento e reposição de materiais, descartáveis e equipamento de limpeza em geral caso haja necessidade.</p>
                    </div>
                </div>
                <div class="container-servicos__banners-conteudo limpezaResidencial" onclick="abreFechaBanner(4)">
                    <h2 class="h2">Limpeza Residencial</h2>
                    <img src="../img/img_servicos/limpeza_residencial.jpg" alt="Equipe limpeza residencial interna" srcset="">
                    <div class="container-servicos__banners-conteudo__conteudoTextual">
                        <p>Efetuamos a limpeza leve e pesada interna de sua residencia</p>
                        <p>Os protocolos da Limpeza com Zelo têm sido o padrão de excelência na remoção máxima de sujeira, germes e bactérias para ajudar a reduzir o risco de doenças para criar um local excepcionalmente limpo. </p>
                        <p>A limpeza residencial é uma necessidade essencial para os tempos que vivemos. Confie na Limpeza com Zelo para fornecer uma limpeza completa na sua casa que hoje também é o seu local de trabalho.</p>                                              
                        <p>Só a LIMPEZA COM ZELO garante isso e ainda leva os produtos químicos e equipamentos.</p>
                        <p>Limpeza de piso, parede, vidros e caixilhos, varrição, aspiração, higienização de sanitários, aplicação de produtos de limpeza e tratamento de piso; fornecimento e reposição de materiais, descartáveis e equipamento de limpeza em geral caso haja necessidade.</p>
                    </div>
                </div>
                <div class="container-servicos__banners-conteudo limpezaResidencialExterna" onclick="abreFechaBanner(5)">
                    <h2 class="h2">Limpeza Residencial externa</h2>
                    <img src="../img/img_servicos/limpeza-areas-externas.jpg" alt="Equipe limpeza residencialesterna" srcset="">
                    <div class="container-servicos__banners-conteudo__conteudoTextual">
                        <p>Efetuamos a limpeza de residencia para areas externas aquelas de dificil acesso ou sujeira pesada</p>
                        <p>Se você está precisando de limpeza de área de lazer, limpeza de fachada, limpeza de calçadas, limpeza de piso externo, limpeza de telhado, limpeza de muro e qualquer outra área externa, conte conosco.</p>
                        <p>Profissionais especializados em limpeza de área externa, fachada, vitrines, pisos externos, decks e muito mais.</p>
                        <p>Fornecimento e reposição de materiais, descartáveis e equipamento de limpeza em geral caso haja necessidade.</p>
                    </div>
                </div>
                <div class="container-servicos__banners-conteudo limpezapiscina" onclick="abreFechaBanner(6)">
                    <h2 class="h2">Limpeza de Piscina</h2>
                    <img src="../img/img_servicos/limpeza-piscina.jpg" alt="Equipe limpeza de piscina" srcset="">
                    <div class="container-servicos__banners-conteudo__conteudoTextual">
                        <p>Efetuamos a limpeza da sua piscina, não precisa mais se preocupar com sua piscina</p>
                        <p>Limpeza interna da piscina, rejunte para piscina, troca de vinilico, aquecedor solar de piscina, reforma de piscina, reforma de piscina de fibra, trocador de calor manutenção </p>
                        <p>Agendamentos de limpeza para festas, antes , durante e depois.</p>
                        <p>fornecimento e reposição de materiais, descartáveis e equipamento de limpeza em geral caso haja necessidade.</p>
                    </div>
                </div>
                <div class="container-servicos__banners-conteudo limpezaCondominial" onclick="abreFechaBanner(7)">
                    <h2 class="h2">Limpeza Condominial</h2>
                    <img src="../img/img_servicos/limpeza_condominio.jpg" alt="Equipe limpeza condominio" srcset="">
                    <div class="container-servicos__banners-conteudo__conteudoTextual">
                        <p>Efetuamos a limpeza de seu condominio, mantenha o local onde vc mora sempre limpo sem se esforçar muito.</p>
                        <p>Dispomos de profissionais e ferramenta de ponta para os trabalhos de limpeza de consominio.</p>
                        <p>Limpeza de piso, parede, vidros e vidraça externa, varrição, aspiração, higienização de sanitários, aplicação de produtos de limpeza, facha externa e tratamento de piso; fornecimento e reposição de materiais, descartáveis e equipamento de limpeza em geral caso haja necessidade.</p>
                    </div>
                </div>
                
            </section>            
        </section>
        <section id="container-vantagens">
            <h2 class="h2">Porque tercerizar minha limpeza?</h2>
            <section id="container-vantagens__conteudo">
                <figure id="container-vantagens__conteudo-img">
                    <img id="container-vantagens__conteudo-img__produtos" src="../img/img_servicos/img_produtos_limpeza.png" alt="produtos de limpeza" srcset="">
                </figure>
                <article id="container_vantagens__artigo">
                    <p><strong>Economia</strong>: Ao terceirizar trabalhos de limpeza, uma empresa pode economizar em custos de treinamento, equipamentos e materiais, custos, processos, substituições e reduzir o tempo consumido na contratação e gerenciamento de funcionários.</p>
                    <p><strong>Experiência em limpeza</strong>: Uma empresa de terceirização possui profissionais com grande experiência e conhecimento na área de limpeza, o que garante maior qualidade nos serviços.</p>
                    <p><strong>Flexibilidade</strong>: Ao contratar uma empresa de terceirização para a execução do serviço de limpeza, a empresa pode contratar os serviços temporariamente, de acordo com as necessidades do momento.</p>
                    <p><strong>Liberdade para focar no core business</strong>: Ao contratar uma empresa terceirizada para prestar serviços de limpeza, as empresas têm mais tempo para focar no seu core business.</p>
                    <p><strong>Controle de Qualidade</strong>: Ao contratar uma empresa terceirizada para serviços de limpeza, a empresa consegue controlar melhor os padrões de qualidade dos serviços prestados, garantindo assim um ambiente limpo e seguro.</p>
                </article>
            </section>
            <section id="container-publico">
                <h2 class="h2">Nosso Público</h2>
                <section id="container-publico__conteudo">
                    <p>A Limp é uma empresa especializada que oferece diversos serviços de limpeza industrial, limpeza urbana, limpeza laboratorial, limpeza residencia interna e externa, limpeza de piscinas e limpeza de condominios na Grande São Paulo, interior e litoral. Atendemos todos os nicho comerciais, com profissionais que casam com sua necessidade interessados em elevar o nivel de limpeza. Treinamos e capacitamos nossos funcionários com excelência para que você possa confiar nos nossos serviços sem medo.</p>
                </section>
                <a id="container-publico__btn-contato" href="contato.html">Nos contate!</a>
            </section>
        </section>
    </main>

    <footer>

        <div class="footer-content">
            <div class="limited-box">
                <h2>&copy; Limp Soluções.</h2>
            </div>
    
            <div class="limited-box">
                <h3 class="info">Informações</h3>
                <ul class="info-text">
                    <li>(xx) xxxx-xxxx</li>
                    <li>(xx) xxxxx-xxxx</li>
                    <li>contato@limp.com.br</li>
                    <li>
                        Rua tal, 000 - Bairro tal<br>
                        Cidade tal, Estado tal
                    </li>
                </ul>
            </div>
    
            <div class="limited-box">
                <h3 class="social">Redes Sociais</h3>
                <ul class="social-text">
                    <li><a class="footer-link" href="https://www.instagram.com/">Instagram</a></li>
                    <li><a class="footer-link" href="https://www.linkedin.com/">Linkedin</a></li>
                    <li><a class="footer-link" href="https://www.youtube.com/">Youtube</a></li>
                </ul>
            </div>
        </div>
    </footer>  
    <script src="../scripts/scriptServicos.js"></script>
</body>
</html>