<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Header e Footer</title>
    <link rel="stylesheet" href="/css/general-style.css">
    <link rel="stylesheet" href="/css/test-styles.css">
    <script src="/scripts/test-scripts.js" ></script>
</head>

<body>
    <section id="container">
        <div id="main">
            <div id="cases">
                <div class="cases-flex">

                    <div class="cases-box">
                
                            <h1 class="case-title">Título</h1>
    
                            <div class="inside-cases-flex">
                                <img class="case-image" src="/img/img-cases/generic-case.jpg" alt="case image">
                                <p class="case-text">
                                    text test text test text test
                                </p>
                            </div>
    
                    </div>
                    <div class="cases-box">
                
                        <h1 class="case-title">Título</h1>
    
                        <div class="inside-cases-flex">
                            <img class="case-image" src="/img/img-cases/generic-case.jpg" alt="case image">
                            <p class="case-text">
                                text test text test text test
                            </p>
                        </div>
    
                    </div>
                    <div class="cases-box">
                
                        <h1 class="case-title">Título</h1>
    
                        <div class="inside-cases-flex">
                            <img class="case-image" src="/img/img-cases/generic-case.jpg" alt="case image">
                            <p class="case-text">
                                text test text test text test text test text test text test text test text test text testtext test text test text test
                            </p>
                        </div>
    
                    </div>
                    <div class="cases-box">
                
                        <h1 class="case-title">Título</h1>
    
                        <div class="inside-cases-flex">
                            <img class="case-image" src="/img/img-cases/generic-case.jpg" alt="case image">
                            <p class="case-text">
                                text test text test text test
                            </p>
                        </div>
    
                    </div>
    
                </div>
            </div>
            
            

        </div>
    </section>
</body>
</html>