<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Header e Footer</title>
    <link rel="stylesheet" href="/css/general-style.css">
    <link rel="stylesheet" href=""> <!--INSIRA O STYLE DO SEU BODY AQUI-->
</head>

<body>
    <header>
        <div class="header-top-piece">
            <img class="phone-icon icon-config" src="/img/general-images/telefone.png" >
            <p class="phone-number header-text">(xx) xxxx-xxxx</p>
    
            <img class="whats-icon icon-config" src="/img/general-images/whatsapp.png">
            <p class="whats-number header-text">(xx) xxxxx-xxxx</p>
    
            <a href="https://www.instagram.com/">
                <img class="instagram-icon icon-config" src="/img/general-images/instagram.png">
            </a>
    
            <a href="https://www.linkedin.com/">
                <img class="linkedin-icon icon-config" src="/img/general-images/linkedin.png">
            </a>
        </div>

        <a href="/views/index.html">
            <img class="logo" width="190px" height="70px" src="/img/general-images/limplogo.png" alt="LOGO">
        </a>

        <div class="nav">
            <a href="/views/index.html">Home</a>
            <a href="/views/sobrenos.html">Sobre nós</a>
            <a href="/views/servicos.html">Serviços</a>
            <a href="/views/cases.html">Cases</a>
            <a href="/views/contato.html">Contato</a>
        </div>
    </header>

    <section id="container">
        <div id="main">
            <H2 style="text-align: center;"> <!--Teste de conteúdo para adaptação do tamanho da tela e posição dinâmica de footer-->
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content<br>
                Content
            </H2>
        </div>    
    </section>

    <footer>
        <h2>&copy; Limp Soluções.</h2>

        <h3 class="info">Informações</h3>
        <ul class="info-text">
            <li>(xx) xxxx-xxxx</li>
            <li>(xx) xxxxx-xxxx</li>
            <li>contato@limp.com.br</li>
            <li>
                Rua tal, 000 - Bairro tal<br>
                Cidade tal, Estado tal
            </li>
        </ul>

        <h3 class="social">Redes Sociais</h3>
        <ul class="social-text">
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://www.linkedin.com/">Linkedin</a></li>
            <li><a href="https://www.youtube.com/">Youtube</a></li>
        </ul>
    </footer>
</body>
</html>